
.augments .augment-card {
  border: 2px solid var(--border-color-1);
  border-radius: 7px;
  background: var(--primary-color);
  color: var(--text-color);
  overflow: hidden;
  margin-bottom: 15px;
  flex:1;
}

.augments .augment-card strong{
  color: var(--text-color-strong);
}

.augments .augment-card-info {
  background: linear-gradient(0deg, var(--gradient-color-1) 70%, var(--gradient-color-3) 100%);
  padding: 5px;
  min-height: 66px;
}

.augments .augment-header{
  border-bottom: solid 2px var(--border-color-2);
  box-shadow: 0px 7px 3px -2px var(--border-shadow-1);
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 0 5px 0;
  width: calc(100% - 60px);
}

.augments .augment-icon {
  float: left;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: 5px 5px 5px 0;
}

.augments .augment-name {
  font-size: 1.4em;
  display: inline;
}

.augments .augment-right {
  float: right;
  display: inline;
}

.augments .augment-details {
  padding-top: 5px;
}

.augments .detail {
  display: inline-block;
  margin-right: 3px;
}

.augments .augment-effects {
  padding: 5px;
}
.augments .effect {
  display: inline-block;
}

.augments .ability-roll-button {
  background: linear-gradient(180deg, var(--gradient-color-1) 70%, var(--gradient-color-3) 100%);
  border: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  color: var(--text-color-strong);
  transition: color 2s ease;
  position: relative;
  z-index: 1;
}
.augments .ability-roll-button:hover{
  color: var(--invert-text-color) !important;
}

.augments .ability-roll-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, var(--secondary-color) 50%, rgba(0,0,0,0) 100%);
  z-index: -1;
  transition: width 0.4s cubic-bezier(.8,.8,1,.8);/*cubic-bezier(.64,.14,.62,1.05)*/
}
.augments .ability-roll-button:hover::before {
  width: 150%;
}

.augments .ability-roll-button:hover{
  box-shadow: none;
}
.augments .ability-roll-button:focus{
  box-shadow: none;
}
.augments .ability-roll-button:active{
  box-shadow: none;
}
