.chat-ffxiv{

}
.chat-ffxiv .item-card .item-dialog-icon{
  width: 45px;
  height: 45px;
}
.chat-ffxiv .item-card .item-dialog-header{
  width: calc(100% - 55px);
}
.chat-ffxiv .item-card .item-dialog-details{
  padding: 5px;
}
.chat-ffxiv .item-dialog-icon{
  border-width: 0;
}
.chat-ffxiv .item-card .item-dialog-header.modifier{
  width:100%
}
.chat-ffxiv .message-content button{
  flex:1;
  color: var(--text-color);
  background: var(--primary-color);
}
