{{#if combo}}
  <div class="detail combo-chain">
    {{#if showLabel}}<strong>{{localize "FFXIV.Abilities.Combo"}}:</strong>{{/if}}
    <span class="combo-chain-steps">
      {{#each (comboChain combo current) as |step|}}
        {{#unless @first}}
          <span class="combo-arrow" aria-hidden="true"><i class="fa-solid fa-arrow-right-long"></i></span>
        {{/unless}}
        <span class="combo-step {{#if step.current}}combo-current{{/if}}">{{step.name}}</span>
      {{/each}}
    </span>
  </div>
{{/if}}
