@use "../utils/typography" as *;

.window-app,
.application.ffxiv {
  font-family: $font-primary;
}

input:disabled {
  transition: none;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
