@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to ffxiv sheets */
.ffxiv {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}
