@use "sass:meta";
@use "components/effects";
@use "components/abilities";
@use "components/forms";
@use "components/items";
@use "components/resource";

@import url("vars.css");
@import url("item.css");
@import url("actor.css");
@import url("chat/chat.css");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global styles */
@include meta.load-css("global/window");
@include meta.load-css("global/token-hud");
@include meta.load-css("global/hotbar");
@include meta.load-css("global/combat");
@include meta.load-css("global/settings");
@include meta.load-css("global/grid");
@include meta.load-css("global/flex");
@include meta.load-css("global/directory");

/* Styles limited to ffxiv sheets */
.ffxiv {
  @include forms.styles;
  @include abilities.styles;
  @include resource.styles;
  @include items.styles;
  @include effects.styles;
}

@include meta.load-css("components/editor");
@include meta.load-css("global/utilities");
